p {
  font-family:  sans-serif;
}

.wd-content-border {
  outline: 1px solid rgb(47, 51, 54);
  padding: 4px;
}

.wd-tuiter-search {
  background-color: rgb(33,35,39);
  color: white;
  border-radius: 8px;
  height: 20px;
  width: 300%;
  padding-left: 16px;
}

.wd-thick-hr {
  border: 16px solid rgb(33,35,39);
  border-top: rgb(33,35,39);
}

.wd-body {
  background-color: black;
}
.wd-white-primary {
  color: white;
  font-size: 16px;
}
.wd-grey-secondary {
  color: #6E767D;
  font-size: 13px;
}
.wd-author-img {
  border-radius: 50%;
}

.wd-explore-bar-highlighted {
  padding: 16px;
  font-size: 15px;
  color: rgb(29, 161, 242);
  border-bottom: 4px solid rgb(29, 161, 242);
}



.wd-explore-bar {
  padding: 16px;
  font-size: 15px;
  color: rgb(110, 118, 125);
}

.wd-float-left-search {
  float: left;
}

.wd-float-right-search {
  float: right;
  padding-right: 12px;
}

.wd-float-left-topic {
  float: left;
  padding-left: 16px;
  line-height: 150%;
}

.wd-float-right-img {
  float:right;
  padding-right: 16px;
}

.wd-float-done {
  clear: both;
}

.wd-topic-img {
  height: 100px;
  width: 100px;
  border-radius: 20%;
}

.wd-topic {
  padding-left: 16px;
  line-height: 150%;
}